@import url('/static/pasta_financas/financas/estrutura_global.css');
@import url('/static/pasta_financas/financas/section_consultas.css');
@import url('/static/pasta_financas/financas/tabela_transacoes.css');
@import url('/static/pasta_financas/financas/section_botoes_telas.css');

