/* INICIO DA ESTRUTURA - CONTAINER CONSULTA */
.section_um_consulta {
    display: flex;
    width: 100%;
    justify-content: center;
}

    .section_um_consulta .container_consulta {
        background-color: rgb(23, 115, 148);
        width: 55rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        flex-direction: column;
        gap: 20px;
    }

    .sub_container_consulta {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .sub_container_consulta > .label_input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
/* FIM DA ESTRUTURA - CONTAINER CONSULTA */



/* INICIO - CONSULTA INPUT / LABEL E SELECT */
.label_input select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.label_input label {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.label_input input {
    font-size: 1.1rem;
}
/* FIM - CONSULTA INPUT / LABEL E SELECT*/



/* DIV INICIO BOTÕES - CONSULTAR/LIMPAR */
.section_um_consulta .buttons > button {
    width: 100px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.7s ease, background-color 0.7s ease;
    gap: 10px;
    padding: 5px;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}

.section_um_consulta button:hover {
    transform: scale(1.1);
}

.buttons .btn_consultar {
    color: aliceblue;
    background-color: #0f8e13;
}

.buttons .btn_consultar:hover {
    background-color: #054907;
}

.buttons .btn_limpar {
    background-color: rgb(195, 59, 35);
}

.buttons .btn_limpar:hover {
    background-color: #881307;
}
/* DIV FIM BOTÕES - CONSULTAR/LIMPAR */

