/* ESTRUTURA CONTAINER BOTOES TELAS - NOVO - DASHBOARD - VOLTAR */
.section_botoes_telas {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
}

.container_botoes_telas {
    display: flex;
    gap: 10px;
    align-items: center;
}
/* ESTRUTURA CONTAINER BOTOES */


/* BOTÕES - NOVO - DASHBOARD - VOLTAR */
.container_botoes_telas > a {
    text-decoration: none;
    align-content: center;
    text-align: center;
    height: 2.5rem;
    width: 7rem;
    border-radius: 0.7rem;
    color: aliceblue;

    transition: background-color 0.7s ease, transform 0.7s ease;
}

    /* BOTÃO NOVA TRANSACAO */
    .btn_novo {
        background-color: rgb(19, 116, 18);
    }

    .btn_novo:hover {
        transform: scale(1.1);
        background-color: rgb(53, 179, 36);
    }
    /* BOTÃO NOVA TRANSACAO */

    
    /* BOTÃO DASHBOARD E VOLTAR */
    .btn_voltar, .btn_dashboard {
        background-color: rgb(31, 83, 85);
    }

    .btn_voltar:hover, .btn_dashboard:hover {
        transform: scale(1.1);
        background-color: cadetblue;
    }
    /* BOTÃO DASHBOARD E VOLTAR */
