@import url('/static/pasta_financas/financas/estrutura_global.css');
@import url('/static/pasta_financas/crud/pasta_insert/insert_transacao.css');
@import url('/static/pasta_financas/crud/pasta_insert/insert_parcelas.css')