/* CONTAINER CONSULTA */
.container_insert {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

    .container_insert form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    /* TITULO NOVA CONSULTA */
    .container_insert .h1_transacao {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    /* ESTRUTURA DA NOVA TRANSAÇÃO */
    .sub_container_insert {
        display: flex;
        gap: 15px;
    }
    /* ESTRUTURA DA NOVA TRANSAÇÃO */

    /* CONTAINER ESTRUTURA - LABEL, INPUT E SELECT */
    .container_campos_insert {
        display: grid;
        margin-bottom: 15px;
    }
    /* CONTAINER ESTRUTURA - LABEL, INPUT E SELECT */



    /* BOTÕES - SALVAR, LIMPAR E VOLTAR */
    .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

        .buttons button, a {
            width: 7.3rem;
            cursor: pointer;
            font-size: 17px;
            border: none;
            padding: 5px;
            transition: background-color 0.7s ease, transform 0.7s ease;
            border-radius: 5px;
        }

        /* BOTÃO SALVAR */
        .buttons .btn_salvar {
            background-color: rgb(35, 111, 27);
        }

        .buttons .btn_salvar:hover {
            background-color: rgb(56, 181, 34);
            transform: scale(1.1);
        }
        /* BOTÃO SALVAR */

        /* BOTÃO LIMPAR */
        .buttons .btn_limpar {
            background-color: tomato;
        }

        .buttons .btn_limpar:hover {
            background-color: brown;
            transform: scale(1.1);
        }
        /* BOTÃO LIMPAR */

        /* BOTÃO VOLTAR */
        .buttons .btn_voltar {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            background-color: tan;
        }

        .buttons .btn_voltar:hover {
            background-color: rgb(179, 136, 83);
            transform: scale(1.1);
        }
        /* BOTÃO VOLTAR */

    /* BOTÕES - SALVAR, LIMPAR E VOLTAR */


/* CONTAINER CONSULTA */