/* ESTRUTURA */
.section_botoes {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
}

    .section_botoes .section_botoes_fundo {
        display: flex;
        width: 40%;
        justify-content: center;
    }
/* ESTRUTURA */


/* BOTÕES */
.section_botoes .botoes_globais {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.section_botoes .botoes_globais a {
    text-decoration: none;
    border-radius: 2px;
    padding: 10px;
    color: aliceblue;
    transition: background-color 0.7s ease, transform 0.7s ease;
}

    /* BOTÃO NOVO */
    .section_botoes .botoes_globais .btn_novo {
        background-color: rgb(30, 94, 35);
    }

    .section_botoes .botoes_globais .btn_novo:hover {
        background-color: rgb(56, 158, 48);
        transform: scale(1.1);
    }
    /* BOTÃO NOVO */
    .section_botoes .botoes_globais .btn_dashboard {
        background-color: rgb(34, 112, 104);
    }

    .section_botoes .botoes_globais .btn_dashboard:hover {
        background-color: rgb(58, 162, 162);
        transform: scale(1.1);
    }


    /* BOTÃO DASHBOARD */

    /* BOTÃO DASHBOARD */


/* BOTÕES */


