/* INICIO - ESTRUTURA DO CONTAINER CADASTRO */
.section_um .container_menu{
    display: flex;
    justify-content: center;
}

    .container_fundo {
        display: flex;
        background-color: rgb(64, 116, 193);
        width: 30%;
    }

    .sub_container_menu {
        display: grid;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

/* FINAL - ESTRUTURA DO CONTAINER CADASTRO */





/* INICIO - LABEL E INPUT */
.sub_container_menu > label {
    font-size: 25px;
}

.sub_container_menu > input {
    font-size: 15px;
    margin-bottom: 15px;
    padding: 3px;
}
/* FINAL - LABEL E INPUT */



/* INICIO BOTÕES - CADASTRAR / LIMPAR*/
.sub_container_menu > button {
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    border: None;
    padding: 3px;
}

    /* BOTÃO CADASTRAR */
.sub_container_menu > .btn_cadastrar {
    background-color: rgb(97, 193, 66);
    transition: background-color, transform 0.6s ease;
}

.btn_cadastrar:hover {
    background-color: rgb(33, 84, 27);
    transform: scale(1.2);
}

    /* BOTÃO LIMPAR */
.sub_container_menu > .btn_limpar {
    background-color: tomato;
    transition: background-color, transform 0.6s ease;
}

.btn_limpar:hover {
    background-color: brown;
    transform: scale(1.2);
}
/* FINAL BOTÕES - CADASTRAR / LIMPAR*/





