/* INICIO - ESTRUTURA DO CONTAINER CADASTRO */
.section_um .container_menu{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

    .container_fundo {
        display: flex;
        background-color: rgb(0, 40, 101);
        width: 30%;
        border-radius: 10px;
    }

    .sub_container_menu {
        display: grid;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

/* FINAL - ESTRUTURA DO CONTAINER CADASTRO */





/* INICIO - LABEL E INPUT */
.sub_container_menu > label {
    font-size: 25px;
    color: aliceblue;
}

.sub_container_menu > input {
    font-size: 15px;
    margin-bottom: 15px;
    padding: 3px;
}
/* FINAL - LABEL E INPUT */



/* INICIO BOTÕES - CADASTRAR / LIMPAR / VOLTAR */
.sub_container_menu > button {
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    border: None;
    padding: 3px;
}

    /* BOTÃO CADASTRAR */
.sub_container_menu > .btn_cadastrar {
    background-color: #28a745;
    transition: background-color, transform 0.6s ease;
}

.btn_cadastrar:hover {
    background-color: #218838;
    transform: scale(1.2);
}

    /* BOTÃO LIMPAR */
.sub_container_menu > .btn_limpar {
    background-color: #dc3545;
    transition: background-color, transform 0.6s ease;
}

.btn_limpar:hover {
    background-color: #c82333;
    transform: scale(1.2);
}


    /* BOTÃO VOLTAR */
.sub_container_menu > .btn_voltar {
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    background-color: #fd7e14;
    margin-bottom: 5px;
    color: black;
    transition: background-color 0.7s ease, transform 0.7s ease;
}

.btn_voltar:hover {
    background-color: #e06c0b;
    transform: scale(1.2);
}


/* FINAL BOTÕES - CADASTRAR / LIMPAR*/





