* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #020617;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}