@import url('/static/pasta_login/pasta_cadastre_se/estrutura_global.css');
@import url('/static/pasta_login/pasta_cadastre_se/container_cadastro.css');
@import url('/static/pasta_login/pasta_cadastre_se/messages.css');
