/* ESTRUTURA GLOBAL */
.section_cabecalho {
    min-height: 5vh;
    background-color: blanchedalmond;
    display: flex;
    width: 100%;
}

.sec_cab_container_fundo {
    display: flex;
    width: 100%;
}

.sec_cab_sub_container {
    display: flex;
    width: 100%;
}

.sec_cab_sub_container > div {
    flex: 0 0 33.33%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}
/* ESTRUTURA GLOBAL */



/* MENU BOTOES */
.menu {
    justify-content: flex-end;
}

.menu .btn_voltar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* MENU BOTOES */



/* TITULO */
.sec_cab_sub_container h1 {
    display: flex;
    justify-content: center;
}
/* TITULO */


/* USUARIO LOGADO */

/* USUARIO LOGADO */
