<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_financas/crud/insert_transacao.css') }}">

</head>

<body>
    <h1>NOVA TRANSAÇÃO</h1>

    <section>
        <form action="/nova_transacao" method="post">
            <select name="tipo" required>
                <option value="receita">📈 Receita</option>
                <option value="despesa">📉 Despesa</option>
            </select>

            <input type="number" name="valor" step="0.01" placeholder="R$ 0,00" required>
            <input type="text" name="descricao" placeholder="Descrição" required>
            <input type="date" name="data" required>

            <button type="submit">💾 Salvar</button>
            <button type="reset">🧹 Limpar</button>


        </form>
    </section>


</body>

</html>