/* ----------------------- INICIO CONTAINER LOGIN ------------------*/
section .container_login {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


    section .sub_container_login_fundo {
        width: 17rem;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        height: 100%;
        padding: 3rem;
        border-radius: 10px;

    }
    
    section .sub_container_login {
        display: grid;
        align-content: center;
    }
/* ----------------------- FINAL CONTAINER LOGIN ------------------*/



/* ----------------------- INICIO CONTAINER LABEL, INPUT - LOGIN ------------------*/
.sub_container_login > label, input {
    font-size: 1.5rem;
    text-align: center;
}

.sub_container_login > label {
    color: rgb(0, 0, 0);
}

/* ----------------------- FINAL CONTAINER LABEL, INPUT - LOGIN ------------------*/



/* ----------------------- INICIO CONTAINER BOTÕES LOGIN ------------------*/
/* BOTOÕES - ACESSAR / VOLTAR */
.sub_container_login > button, a {
    text-align: center;
    cursor: pointer;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;          /* ← MESMA FONTE */
    font-size: 20px;            /* ← MESMO TAMANHO DE FONTE */
    transition: background-color 0.7s ease, transform 0.7s ease;
    color: black;
    border-radius: 10px;
}

    /* BOTÃO - BUTTON */
    .sub_container_login > .btn_submit {
        background-color: #28a745;
        margin-bottom: 5px;
        border: none;
    }

    .sub_container_login .btn_submit:hover {
        transform: scale(1.2);
        background-color: #218838;
    }


    .sub_container_login > .btn_limpar {
        background-color: #dc3545;
        margin-bottom: 5px;
        border: none;
    }

    .sub_container_login .btn_limpar:hover {
        transform: scale(1.2);
        background-color: #c82333;
    }


    /* BOTÃO - A - */
    .sub_container_login > a {
        text-decoration: none;
        background-color: #fd7e14;
    }

    .sub_container_login a:hover {
        transform: scale(1.2);
        background-color: #e06c0b;
    }
/* ----------------------- FINAL CONTAINER BOTÕES LOGIN ------------------*/
