.alert {
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


/*-- ALERTA - ERRO e WARNING --*/
.alert-error, .alert-warning{
    background-color: #ffebef;
    color: #cc0202;
    border: 1px solid #ef5350;
}
