/* ESTRUTURA CONTAINER BOTOES TELAS */
.section_botoes_telas {
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    width: 100%;
    gap: 10px;
}


.container_botoes_telas {
    display: flex;
    height: auto;
    gap: 10px;
    justify-content: center;
}

.container_botoes_telas > a {
    text-decoration: none;
    /* inline-block não é necessário */
}
/* ESTRUTURA CONTAINER BOTOES TELAS */


.container_botoes_telas > a {
    height: auto;
    width: 100%;
    margin: 20px;
    background-color: aqua;
}