.section_um_consulta {
    display: flex;
    width: 100%;
    justify-content: center;
}


    .section_um_consulta .container_consulta {
        background-color: rgb(23, 115, 148);
        width: 70%;
        height: 10rem;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }

    .sub_container_consulta {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .sub_container_consulta > .label_input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }



    /* DIV INICIO BOTÕES */
    .sub_container_consulta .buttons {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .sub_container_consulta .buttons > button {
        width: 100px;
        cursor: pointer;
        font-size: 20px;
    }
    /* DIV FIM BOTÕES */
