<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_financas/import_todas_css.css') }}">
</head>


    <!-- BLOCO DE CONSULTA -->
    <section class="section_um_consulta">
        <form action=" {{ url_for('financas.inifinancas') }}" method="get">
            <div class="container_consulta">
                <div class="sub_container_consulta">
                    
                    <div class="label_input">
                        <label>DESCRIÇÃO:</label>
                        <input type="text" name="descricao" value="{{ request.args.get('descricao', '') }}">
                    </div>


                    <div class="label_input">
                        <label>Tipo:</label>
                        <select name="tipo">
                            <option value="" {% if request.args.get('tipo') == '' %}selected{% endif %}>Todos</option>
                            <option value="receita" {% if request.args.get('tipo') == 'receita' %}selected{% endif %}>Entrada</option>
                            <option value="despesa" {% if request.args.get('tipo') == 'despesa' %}selected{% endif %}>Despesa</option>
                        </select>
                    </div>

                    <div class="label_input">
                        <label>DATA INICIAL:</label>
                        <input type="date" name="data_inicio" value="{{ data_inicio }}">
                    </div>

                    <div class="label_input">
                        <label>DATA FINAL:</label>
                        <input type="date" name="data_final" value="{{ data_final }}">
                    </div>
                    
                </div>
                
                <div class="buttons">
                    <button type="submit" class="btn_consultar">Consultar</button>
                    <button type="reset" class="btn_limpar">Limpar</button>
                </div>

            </div>
        </form>
    </section>


    <!-- BOTÃO NOVA TRANSAÇÃO -->
    <div style="text-align: center; margin: 20px 0px;">
        <a href="{{ url_for('nova_transacao.initransacao') }}" 
           style="background: #28a745; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin: 5px;">
           + NOVA TRANSAÇÃO
        </a>

        <a href="{{ url_for('dashboard.inidashboard') }}" style="background: rgb(73, 64, 59); color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">DASHBOARD</a>

        <a href="{{ url_for('pos_login.iniposlogin') }}" style="background: rgb(73, 64, 59); color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">VOLTAR</a>
    </div>

    
    <!-- SEÇÃO TABELA DE TRANSAÇÕES -->
    <section class="section_tabela">
        <div class="container_tabela">
            <table class="tabela_transacoes">
                <thead>
                    <tr>
                        <th>DESCRIÇÃO</th>
                        <th>STATUS</th>
                        <th>CATEGORIA</th>
                        <th>VALOR</th>
                        <th>DATA CRIAÇÃO</th>
                        <th>TIPO</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transacao in transacoes %}
                    <tr>
                        <td>{{ transacao[3] }}</td>  <!-- descricao -->


                        <td>
                            {% if transacao[1] == 'despesa' %}
                                {% if transacao[6] == 'aberto' %}
                                    <span style="background: #ff4444; color: white; padding: 3px 8px; border-radius: 10px;">ABERTO</span>
                                {% elif transacao[6] == 'quitado' %}
                                    <span style="background: #00C851; color: white; padding: 3px 8px; border-radius: 10px;">QUITADO</span>
                                {% endif %}
                            {% endif %}
                        </td>


                        <td>{{ transacao[5] or "Geral" }}</td>  <!-- categoria -->
                        <td class="{% if transacao[1] == 'receita' %}valor_positivo{% else %}valor_negativo{% endif %}">
                            R$ {{ "%.2f"|format(transacao[2]) }}
                        </td>

                        <td>{{ transacao[4] }}</td>  <!-- data -->

                        <td>
                            {% if transacao[1] == 'receita' %}
                                📈 Entrada
                            {% else %}
                                📉 Despesa
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ url_for('edit_transacoes.inieditar', transacao_id=transacao[0]) }}" title="Editar">✏️</a>

                            <a href="{{ url_for('deletar_transacao.inideletar', transacao_id=transacao[0]) }}" title="Excluir"
                            onclick="return confirm('Tem certeza que deseja excluir está transação?')">❌</a>

                            {% if transacao[1] == 'despesa' and transacao[6] == 'aberto' %}
                                <a href="{{ url_for('quitar_transacao.iniquitacao', transacao_id=transacao[0]) }}" 
                                style="background: #00C851; color: white; padding: 3px 8px; text-decoration: none; border-radius: 5px; margin-left: 5px;"
                                title="Quitar despesa"
                                onclick="return confirm('Quitar esta despesa?')">
                                ✅ Quitar
                                </a>
                            {% endif %}
                            
                        </td>
                    </tr>


                    {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center; padding: 20px;">
                            📭 Nenhuma transação cadastrada.
                            <br>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </section>




</html>