<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_financas/import_todas_css.css') }}">
</head>

    <h1>TELA DE FINAÇAS ON COM FLASK</h1>

    <section class="section_um_consulta">
        <div class="container_consulta">
            <div class="sub_container_consulta">
                
                <div class="label_input">
                    <label>DESCRIÇÃO:</label>
                    <input type="text">
                </div>


                <div class="label_input">
                    <label>Tipo:</label>
                    <select>
                        <option>Entrada</option>
                        <option>Despesa</option>
                    </select>
                </div>

                <div class="label_input">
                    <label>DATA:</label>
                    <input type="date">
                </div>

                <div class="buttons">
                    <button type="submit">Consultar</button>
                    <button type="reset">Limpar</button>
                </div>
                
            </div>
        </div>
    </section>



</html>