<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_financas/import_todas_css.css') }}">
</head>


    <!-- BLOCO DE CONSULTA -->
    <section class="section_um_consulta">
        <div class="container_consulta">
            <div class="sub_container_consulta">
                
                <div class="label_input">
                    <label>DESCRIÇÃO:</label>
                    <input type="text">
                </div>


                <div class="label_input">
                    <label>Tipo:</label>
                    <select>
                        <option>Entrada</option>
                        <option>Despesa</option>
                    </select>
                </div>

                <div class="label_input">
                    <label>DATA:</label>
                    <input type="date">
                </div>

                <div class="buttons">
                    <button type="submit">Consultar</button>
                    <button type="reset">Limpar</button>
                </div>
                
            </div>
        </div>
    </section>


    <!-- BOTÃO NOVA TRANSAÇÃO -->
    <div style="text-align: center; margin: 20px 0;">
        <a href="{{ url_for('nova_transacao.initransacao') }}" 
           style="background: #28a745; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
           + NOVA TRANSAÇÃO
        </a>
    </div>



    
    <!-- SEÇÃO TABELA DE TRANSAÇÕES -->
    <section class="section_tabela">
        <div class="container_tabela">
            <table class="tabela_transacoes">
                <thead>
                    <tr>
                        <th>DESCRIÇÃO</th>
                        <th>CATEGORIA</th>
                        <th>VALOR</th>
                        <th>DATA CRIAÇÃO</th>
                        <th>TIPO</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transacao in transacoes %}
                    <tr>
                        <td>{{ transacao[3] }}</td>  <!-- descricao -->
                        <td>{{ transacao[5] or "Geral" }}</td>  <!-- categoria -->
                        <td class="{% if transacao[1] == 'receita' %}valor_positivo{% else %}valor_negativo{% endif %}">
                            R$ {{ "%.2f"|format(transacao[2]) }}
                        </td>

                        <td>{{ transacao[4] }}</td>  <!-- data -->

                        <td>
                            {% if transacao[1] == 'receita' %}
                                📈 Entrada
                            {% else %}
                                📉 Despesa
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ url_for('edit_transacoes.inieditar', transacao_id=transacao[0]) }}" title="Editar">✏️</a>
                            <a href="{{ url_for('deletar_transacao.inideletar', transacao_id=transacao[0]) }}" title="Excluir"
                            onclick="return confirm('Tem certeza que deseja excluir está transação?')">❌</a>
                        </td>
                    </tr>

                    

                    



                    {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center; padding: 20px;">
                            📭 Nenhuma transação cadastrada.
                            <br>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </section>




</html>