<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_login/import_todas_css.css') }}">
</head>

<body>
    <h1>FLASK ONLINE COM HTML - VAI SER TELA LOGIN</h1>
    <section>

        <div class="container_login">
            <div class="sub_container_login_fundo">

                <div class="sub_container_login">

                    <label>Digite seu nome ou E-mail:</label>
                    <input type="text" name="" placeholder="Digite seu nome" required><br>

                    <label>Digite sua senha:</label>
                    <input type="password" name="" placeholder="Digite sua senha" required><br>

                    <button type="submit">Acessar</button>

                </div>
                
            </div>
        </div>

    </section>




</body>


</html>