.section_consulta {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

    .sec_con_container_fundo {
        background-color: rgb(88, 138, 144);
        width: 70%;
        height: auto;
    }

    .sec_con_sub_container .titulo {
        display: flex;
        justify-content: center;
    }



/* INPUT E LABEL */
.section_consulta .label_input {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 5px;
}

.section_consulta .sub_label_input {
    display: grid;
}

    .sub_label_input label {
        font-size: 1.2rem;
    }


    .sub_label_input input {
        font-size: 1rem;
    }
/* INPUT E LABEL */



/* BOTOES */
.section_consulta .botoes {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    gap: 10px;

}

.section_consulta .botoes button {
    width: 15%;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

    /* BOTAO - CONSULTAR */
    .section_consulta .botoes .btn_consultar {
        background-color: rgb(43, 104, 42);
        transition: background-color 0.7s ease, transform 0.7s ease;
        font-weight: bold;
    }

    .section_consulta .botoes .btn_consultar:hover {
        background-color: rgb(42, 143, 49);
        transform: scale(1.1);
    }
    /* BOTAO - CONSULTAR */


    /* BOTAO - LIMPAR */
    .section_consulta .botoes .btn_limpar {
        background-color: rgb(121, 30, 27);
        transition: background-color 0.7s ease, transform 0.7s ease;
        font-weight: bold;
    }

    .section_consulta .botoes .btn_limpar:hover {
        background-color: rgb(159, 62, 62);
        transform: scale(1.1);
    }
    /* BOTAO - LIMPAR */
/* BOTOES */



