/* -------------- CONTAINER MENU ---------- */
section .menu {
    height: 10vh; /* DEFINE ALTURA DO CONTAINER MENU */
    display: flex; /* CONTAINER FLEXIVEL, PARA ALINHAMENTO VERTICAL E HORIZONTAL*/
    align-items: center; /* ALINHA O TEXTO NO EIXO VERTICAL */
    justify-content: flex-end; /* ALINHA OS ITENS NO EIXO HORIZONTAL */
    text-align: center; /* ALINHA O TEXTO DENTRO DO CONTAINER */
}

    /* -------------- INICIO BOTÃO LINK's (ENTRAR, CADASTRE-SE) -------------- */
    .menu > a {
        cursor: pointer;
        padding: 10px;
        margin: 10px;
        font-size: 1.3rem;
        background-color: #1818e7;
        color: aliceblue;
        border-radius: 10px;
        display: inline-block;
        transition: background-color 1s ease, transform 0.8s ease;
        text-decoration: none;
    }

    .menu > a:hover {
        background-color:#000080;
        transform: scale(1.1);
    }
    /* -------------- FINAL BOTÃO LINK's (ENTRAR, CADASTRE-SE) -------------- */



    