<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_login/pasta_login/import_todas_css.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}



    <section class="section_login">
        <form action="/login" method="post">
                
            <div class="container_login">
                <div class="sub_container_login_fundo">

                    <div class="sub_container_login">

                        <label>Digite seu nome ou E-mail:</label>
                        <input type="text" name="nome_ou_email" placeholder="Digite seu nome ou E-mail"><br>

                        <label>Digite sua senha:</label>
                        <input type="password" name="senha" placeholder="Digite sua senha"><br>

                        <button type="submit" class="btn_submit"><strong>Acessar</strong></button>
                        <button type="reset" class="btn_limpar"><strong>Limpar</strong></button>
                        <a href="{{ url_for('appinicializar') }}"><strong>Voltar</strong></a>

                    </div>
                </div>
            </div>
        </form>
    </section>




</body>


</html>